doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=cyrillic' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Poiret+One&display=swap' rel='stylesheet')
    title БалансАвто
    link(rel='stylesheet' href='../style/avto.css')
  body(style='background-color: rgb(220, 220, 220); width: 100%; height: 100%;')
    div(style='min-width: 350px; width: 100%;  height: 100%; position: absolute;')
      div(style='position: relative; width: 100%; text-align: center; background-color: white; padding: 10px;')
        span(style='font-weight: bold; font-size: 4.5vw; ') Автовышка 18 метров на базе Hyundai
        br
      div(style='position: relative; width: 45%; height: 100%; padding-left: 3%; padding-top: 10px; padding-right: 3%; float: left; background-color: rgba(255, 255, 255, 0.4);')
        span(style='font-size: 2.15vw;')
          | Обладает грузоподьёмностью до 250кг, что обеспечивает возможность подачи двух человек, а также  необходимых строительных или иных материалов.
          br
          br
          span(style='font-weight: bold;') Работы, выполняемые с помощью автоподъёмника:
          ul
            li монтаж рекламных щитов, баннеров
            li электромонтажные работы на опорах освещения и линиях электропередач
            li монтаж и обслуживание кондиционеров
            li спил деревьев
            li фото, видео, киносъемка
            li реставрация памятников и фасадов
      div(style='position: relative; width: 49%; text-align: center; height: 100%; float: left; padding-top: 10px; background-color: rgba(0, 0, 0, 0.2);')
        .image_place(style='background-image: url(../img/avto_18.jpg);')
        .price_box
          | ОТ 7500 РУБЛЕЙ*
        span(style='color: white') *цена за смену
